@import url('href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap"');
body {
  margin-top: 125px;
  display: grid;
  grid-template-columns: repeat(3);
  text-align: center;
}

.app {
  background-color: #fdfdfd;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.start {
  background-color: #0074d9;
  border-radius: 5px;
  padding: 7px;
  border: #27221a;
  margin-bottom: 10px;
}

.score {
  top: 520px;
}

.question {
  padding-bottom: 13px;
  padding-top: 40px;
  font-size: 20px;
  color: #7e1818;
}

.ans {
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 0px 0px;
  background-color: #e08133;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 30px;
  color: #f8d9d9;
}

.next-btn {
  border-radius: 5px;
  border: 1px ridge;
  width: 80px;
  height: 40px;
  background-color: #5cb85c;
  color: #ebebe6;
  margin-top: 10px;
}

.result {
  font-size: 30px;
  margin-top: 70px;
}
