
$theme-colors: (
    "primary": #0074d9,
    "danger": #ff4136,
    "success": #5cb85c
);
@import url('href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap"');

body{
    //width: 350px;
  margin-top: 125px;
   display: grid;
   grid-template-columns: repeat(3);//the fraction unit
   text-align: center;
} 

.app {
   background-color: rgb(253, 253, 253);
   //position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}
.start{
  background-color: map-get($theme-colors, primary);
  border-radius: 5px;
  padding: 7px;
  border:  rgb(39, 34, 26);
  margin-bottom: 10px;  
}
.score{
  top: 520px;
}
.question{
  padding-bottom: 13px;
  padding-top: 40px;
  font-size: 20px;
  color: rgb(126, 24, 24);
}
.ans{
    padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 0px 0px;
  background-color: rgb(224, 129, 51);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20px 30px;
  color: rgb(248, 217, 217);
}
.next-btn{
  border-radius: 5px;
  border: 1px ridge;
  width: 80px;
  height: 40px;
  background-color: map-get($theme-colors, success);
  color: rgb(235, 235, 230);
  margin-top: 10px;
}
.result{
  font-size: 30px;
  margin-top: 70px;
}

