
$theme-colors: (
    "primary": #0074d9,
    "danger": #ff4136,
    "success": #5cb85c
);
@import url('href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap"');

#span {
    display: inline-block;
    width: 700px;
    height: 170px;
    margin: 6px;
    background-color: rgb(253, 253, 253);
    position: relative;
    top: 150px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.ol{
    padding: 100px;


}
.ol div{
    display: inline-block;
    width: 700px;
    height: 170px;
    margin: 6px;
    background-color: transparent;
    position: relative;
    top: 150px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}
  .btn{
    position: relative;
    top: 70px; 
  }

  .ans{
      border: 1px solid rgb(0, 245, 0);
      padding: 7px;
      margin-right: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px 2px;
      background-color: rgb(224, 51, 195);
      justify-content: center;
      text-align: center; 
      display: inline-block; 
      font-family: 'Architects Daughter', cursive;
      color: rgb(248, 217, 217);
  }

  .question{
      padding-bottom: 13px;
      padding-top: 10px;
      font-size: 20px;
      font-family: 'Architects Daughter', cursive;
      color: rgb(126, 24, 24);
    }

.next-btn{
    border-radius: 5px;
    border: 1px ridge rgb(255, 30, 0);
    padding: 0px;
    width: 80px;
    height: 40px;
    background-color: map-get($theme-colors, success);
    font-family: 'Architects Daughter', cursive;
    color: rgb(235, 235, 230);
    //position: relative;
    top: 320px;
    left: 200px;
}

 /*button:hover{
    color: yellow;
}*/

  .hide-elem{
       display: none;
  }



  